html {
  position: relative;
  display: flex;
}

body {
  background-color: #f3f3f3;
  position: relative;
  height: 100%;
  vertical-align: baseline;
  width: 100%;
}

.modal-detail-bg {
  background-color: #00000059;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2em;
  margin-bottom: -2em;
  width: 100%;
  height: 100%;
  display: none;
}
.modal-detail-bg .container-detail {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 1em;
  height: 80%;
  width: 82%;
  margin: 3% auto;
}
.modal-detail-bg .container-detail #close-detail {
  position: relative;
  left: 98%;
  padding: 0 0 0 8px;
  top: -20px;
  font-size: 1.4em;
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.modal-detail-bg .container-detail #body-detail {
  display: flex;
}
.modal-detail-bg .container-detail #body-detail #img-detail,
.modal-detail-bg .container-detail #body-detail #product-detail {
  width: 50%;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail {
  margin-top: 2%;
  display: flex;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product {
  display: flex;
  width: 30%;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #add-quantity, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #quantity, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #reduce-quantity,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #add-quantity,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #quantity,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #reduce-quantity {
  width: 25%;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #add-quantity #reduce-quantity-btn, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #add-quantity #add-quantity-btn, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #quantity #reduce-quantity-btn, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #quantity #add-quantity-btn, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #reduce-quantity #reduce-quantity-btn, .modal-detail-bg .container-detail #body-detail #img-detail #action-detail #quantity-product #reduce-quantity #add-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #add-quantity #reduce-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #add-quantity #add-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #quantity #reduce-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #quantity #add-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #reduce-quantity #reduce-quantity-btn,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #quantity-product #reduce-quantity #add-quantity-btn {
  cursor: pointer;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail #add-detail,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #add-detail {
  width: 60%;
  text-align: right;
}
.modal-detail-bg .container-detail #body-detail #img-detail #action-detail #add-detail #add-product-detail,
.modal-detail-bg .container-detail #body-detail #product-detail #action-detail #add-detail #add-product-detail {
  width: 90%;
}
.modal-detail-bg .container-cart {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  padding: 1em;
  flex-direction: column;
}
.modal-detail-bg .container-cart #cart-header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.modal-detail-bg .container-cart #location-cart {
  position: relative;
  display: flex;
  width: 80%;
  align-items: center;
}
.modal-detail-bg .container-cart #location-cart p, .modal-detail-bg .container-cart #location-cart h5 {
  margin: 0;
}
.modal-detail-bg .container-cart #location-cart h5 {
  margin-left: 4px;
}
.modal-detail-bg .container-cart #close-cart {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.modal-detail-bg .container-cart #no-products {
  margin: 30% auto;
  text-align: center;
}

.container {
  max-width: 100%;
  width: 95%;
  margin: auto 2.5%;
}

#header {
  background-color: #fff;
  padding: 1.5% 0;
}
#header .container-header {
  display: flex;
  align-items: center;
}
#header .container-header #logo-header {
  width: 60%;
}
#header .container-header #location {
  width: 30%;
  text-align: right;
}
#header .container-header #location h5 {
  margin: 0;
}
#header .container-header #cart {
  width: 10%;
  text-align: right;
}
#header .container-header #cart h5 {
  margin: 0;
}

#banner {
  background-image: url(https://carlingebyte.github.io/AG-Sprint1/img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  line-height: 30vh;
  text-align: center;
  color: #fff;
  border-radius: 1em;
}
#banner h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
}

#offers,
#popular,
#related {
  margin: 3.5% auto;
  background-color: #fff;
  border-radius: 1em;
  padding: 2em;
  width: 100%;
}
#offers h5,
#popular h5,
#related h5 {
  margin-bottom: 5%;
}
#offers .products-container,
#popular .products-container,
#related .products-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 2em;
  align-items: center;
  height: 100%;
}
#offers .products-container .card,
#popular .products-container .card,
#related .products-container .card {
  justify-content: space-between;
}
#offers .products-container .card .card-offer,
#popular .products-container .card .card-offer,
#related .products-container .card .card-offer {
  height: 10%;
  margin-bottom: 0;
}
#offers .products-container .card .card-img-top,
#popular .products-container .card .card-img-top,
#related .products-container .card .card-img-top {
  width: 80%;
  margin: auto;
}
@media (min-width: 1000px) {
  #offers .products-container .card,
#popular .products-container .card,
#related .products-container .card {
    width: 17em;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  #offers .products-container .card,
#popular .products-container .card,
#related .products-container .card {
    width: 12em;
  }
}
@media (min-width: 200px) and (max-width: 599px) {
  #offers .products-container .card,
#popular .products-container .card,
#related .products-container .card {
    width: 10em;
  }
}

/*# sourceMappingURL=styles.css.map */
